.div__parrent {
  display: flex;
  color:red
}
.column__left {
  flex: 0.9;
  height: 200px;
  text-decoration: underline;
  background-color: red;
}
.column__middle {
  flex: 0.1;
  height: 200px;
}
#color__blue {
  color: blue;
}
span {
  font-size: 30px;
}
